@model TPCampo.Models.Modelos //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Listar Vehiculos";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista de Vehiculos Disponibles
    </div>
    <div class="card-body">
        <hr />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Imagen</th>
                    <th>PrecioPorDia</th>
                    <th>
                        Capacidad
                        Pasajeros
                    </th>
                    <th>
                        Capacidad
                        Equipaje
                    </th>
                    <th>
                        Tipo de
                        Caja
                    </th>
                    <th>
                        Cantidad de
                        Puertas
                    </th>
                    <th>
                        Aire
                        Acondicionado
                    </th>
                    <th>
                        Tipo de
                        Cobertura
                    </th>
                    <th>KmHabilitado</th>
                    <th>
                        IdEmpresa
                        Proveedora
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.vehiculosModel)
                {
                    <tr>
                        <td> @item.Marca</td>
                        <td> @item.Modelo</td>
                        <td> @item.Imagen</td>
                        <td> @item.PrecioPorDia</td>
                        <td> @item.CapacidadPasajeros</td>
                        <td> @item.CapacidadEquipaje</td>
                        <td> @item.TipoCaja</td>
                        <td> @item.CantidadDePuertas</td>
                        <td> @item.AireAcondicionado</td>
                        <td> @item.TipoDeCobertura</td>
                        <td> @item.KmHabilitado</td>
                        <td> @item.IdEmpresaProveedora</td>

                            <td>
                            <a asp-action="ElegirReserva" asp-controller="MantenedorReserva" class="btn btn-success" asp-route-IdVehiculo="@item.IdVehiculo" asp-route-Destino="@Model.buscarModel.Destino" asp-route-FechaInicio="@Model.buscarModel.FechaInicio" asp-route-FechaFin="@Model.buscarModel.FechaFin" asp-route-PrecioPorDia="@item.PrecioPorDia">Reservar Vehiculo</a>
                            </td>
                      

                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>
