@model TPCampo.Models.Modelos //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Listar Vehiculos";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<!-- NEW -->

    <div class="card-body">

        <div class="row card-oppacity-orange m-4 towhite">
            <div class="col-3">
                <h4> BUSQUEDA </h4>
                <ul>
                    <li> <u>Destino: </u></li>
                    <li> <u>Fecha Inicio: </u></li>
                    <li> <u>Fecha Fin: </u></li>
                </ul>
            </div>
            <h1 class="col-8 d-flex flex-row-reverse megatitle p-0">DSTRAVEL</h1>
        </div>
        <hr />
        <div class="card-oppacity-orange">
            @if(Model.vehiculosModel != null){
            @foreach (var item in Model.vehiculosModel)
            {
            <div class="col-6">
                <div class="row">
                    <div class="card vehicle-card col-5 mb-3 ms-3">
                        <img class="card-img-top mt-2" src="@item.Imagen">
                        <div class="card-body">
                            <ul class="none-style-list">
                                <li> <u>Modelo:</u> @item.Modelo</li>
                                <li> <u>Marca:</u> @item.Marca</li>
                                <li> <u>Precio:</u> $ @item.PrecioPorDia</li>
                                <li> <u>Capacidad:</u> @item.CapacidadPasajeros</li>
                                <li> <u>CapacidadEquipaje:</u> @item.CapacidadEquipaje</li>
                                <li> <u>Caja:</u> @item.TipoCaja</li>
                                <li> <u>Puertas:</u> @item.CantidadDePuertas</li>
                                <li> <u>Aire Acondicionado:</u> @item.AireAcondicionado</li>
                                <li> <u>Cobertura:</u> @item.TipoDeCobertura</li>
                                <li> <u>Km habilitado:</u> @item.KmHabilitado</li>
                                <li> <u>Empresa Proveedora:</u> @item.IdEmpresaProveedora</li>
                                <li>
                                    <div class="d-flex flex-row-reverse"><a asp-action="ElegirReserva"
                                            asp-controller="MantenedorReserva" class="btn btn-success btn-sm mt-2"
                                            asp-route-IdVehiculo="@item.IdVehiculo"
                                            asp-route-Destino="@Model.buscarModel.Destino"
                                            asp-route-FechaInicio="@Model.buscarModel.FechaInicio"
                                            asp-route-FechaFin="@Model.buscarModel.FechaFin"
                                            asp-route-PrecioPorDia="@item.PrecioPorDia">Reservar Vehiculo</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TPCampo
        </div>
    </footer>
    
<!-- OLD -->
<!--     <div class="card">
        <div class="card-header">
            Lista de Vehiculos Disponibles
        </div>
        <div class="card-body">
            <hr />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Imagen</th>
                        <th>PrecioPorDia</th>
                        <th>
                            Capacidad
                            Pasajeros
                        </th>
                        <th>
                            Capacidad
                            Equipaje
                        </th>
                        <th>
                            Tipo de
                            Caja
                        </th>
                        <th>
                            Cantidad de
                            Puertas
                        </th>
                        <th>
                            Aire
                            Acondicionado
                        </th>
                        <th>
                            Tipo de
                            Cobertura
                        </th>
                        <th>KmHabilitado</th>
                        <th>
                            IdEmpresa
                            Proveedora
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div> -->
