@model List<VehiculoModel> //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Listar Vehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Lista de Vehiculos
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="MantenedorVehiculo" class="btn btn-success">Crear Nuevo Vehiculo</a>
        <hr />

        <div class="row">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="col-6">
                        <div class="row">
                            <div class="card col-6 card border-3 rounded-3 mb-3 ms-3">
                                <img class="card-img-top mt-2" src="@item.Imagen">
                                <div class="card-body">
                                    <ul>
                                        <li> @item.Marca</li>
                                        <li> @item.Modelo</li>
                                        <li> @item.PrecioPorDia</li>
                                        <li> @item.CapacidadPasajeros</li>
                                        <li> @item.CapacidadEquipaje</li>
                                        <li> @item.TipoCaja</li>
                                        <li> @item.CantidadDePuertas</li>
                                        <li> @item.AireAcondicionado</li>
                                        <li> @item.TipoDeCobertura</li>
                                        <li> @item.KmHabilitado</li>
                                        <li> @item.IdEmpresaProveedora</li>
                                        <li>                                        
                                                <a asp-action="Editar" asp-controller="MantenedorVehiculo" class="btn btn-primary btn-sm"
                                           asp-route-IdVehiculo="@item.IdVehiculo">Editar Vehiculo</a>
                                                <a asp-action="Eliminar" asp-controller="MantenedorVehiculo" class="btn btn-danger btn-sm"
                                           asp-route-IdVehiculo="@item.IdVehiculo">Eliminar Vehiculo</a>                                         
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


