@model List<UsuarioModel> //Clase a utilizar en el formulario
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- NEW -->

    <div class="card-body m-3">
        <div class="row card-oppacity-orange">
            <div>
                <h4 class="megatitle mb-5">Usuarios</h4>
            </div>

            <div class="flex-row-reverse d-flex">
                <div class="d-flex flex-row-reverse mb-2">
                    <a asp-action="Guardar" asp-controller="Mantenedor" class="icon-btn add-btn">
                        <div class="add-icon"></div>
                        <div class="btn-txt">Crear Usuario</div>
                    </a>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Rol de Usuario</th>
                        <th>FechaNacimiento</th>
                        <th>Dni</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td> @item.Nombre</td>
                        <td> @item.Apellido</td>
                        <td> @item.Email</td>
                        <td> @item.Contraseña.Substring(0,8)...</td>
                        <td> @item.Rol</td>
                        <td> @item.FechaNacimiento</td>
                        <td> @item.Dni</td>
                        <td> @item.Telefono</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" asp-route-IdUsuario="@item.IdUsuario"
                                class="edit-btn"><img src="~/edit-icon.png" class="edit-icon" title="editar"></a>

                            <a asp-action="Eliminar" asp-controller="Mantenedor" asp-route-IdUsuario="@item.IdUsuario"
                                class="del-btn mb-1" title="eliminar">
                                <svg viewBox="0 0 15 17.5" height="17.5" width="15" xmlns="http://www.w3.org/2000/svg"
                                    class="icon">
                                    <path transform="translate(-2.5 -1.25)"
                                        d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z"
                                        id="Fill"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>


<!-- OLD -->

<!-- <div class="card">
    <div class="card-header">
        Lista de Usuarios
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success">Crear Nuevo Usuario</a>
        <hr />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Contraseña</th>
                    <th>Rol de Usuario</th>
                    <th>FechaNacimiento</th>
                    <th>TipoDocumento</th>
                    <th>Dni</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>
 -->



