@model ReservaParcialModel
@{
    ViewData["Title"] = "Reservar";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="card m-3">
    <div class="row card-oppacity-orange">
        <div class="card-header">
            <div class="d-flex flex-wrap">


            <div class="col-1">
                <a asp-action="ListarBusqueda" asp-controller="MantenedorVehiculo"
                asp-route-Destino="@ViewBag.Destino" asp-route-FechaInicio="@ViewBag.FechaInicio"
                asp-route-FechaFin="@ViewBag.FechaFin"><img src="~/goback-icon.png" alt="Volver" height="30px" width="20px"></a>
            </div>
            <div class="col-9">
                 <h4 class="subtitle">Reservar</h4> 
            </div>
        </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="ReservarConfirmar" asp-controller="MantenedorReserva"
            asp-route-IdVehiculo="@ViewBag.IdVehiculo" asp-route-Destino="@ViewBag.Destino"
            asp-route-FechaInicio="@ViewBag.FechaInicio" asp-route-FechaFin="@ViewBag.FechaFin"
            asp-route-MontoTotal="@ViewBag.MontoTotal" method="post">
            <div>
                Datos de la reserva
                    <ul>
                        <li>Destino: @ViewBag.Destino</li>
                        <li>FechaInicio: @ViewBag.FechaInicio</li>
                        <li>FechaFin: @ViewBag.FechaFin</li>
                        <li>MontoTotal: @ViewBag.MontoTotal</li>
                    </ul>
            </div>
            <div class="alert alert-success" role="alert">
                ¿Desea confirmar la reserva?
            </div>
            <button type="submit" class="btn">
                <img height="50px" width="50px" src="~/confirm-icon.png" alt="" title="Confirmar">
            </button>
        </form>
    </div>
</div>

