@model List<ReservaModel> //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Listar Reserva";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}


<div class="card">
    <div class="card-header">
        Lista de Reservas
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="MantenedorReserva" class="btn btn-success">Crear Nueva Reserva</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Destino</th>
                    <th>FechaInicio</th>
                    <th>FechaFin</th>
                    <th>Estado</th>
                    <th>MontoTotal</th>
                    <th>IdVehiculo</th>
                    <th>IdUsuario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Destino</td>
                        <td> @item.FechaInicio</td>
                        <td> @item.FechaFin</td>
                        <td> @item.Estado</td>
                        <td> @item.MontoTotal</td>
                        <td> @item.IdVehiculo</td>
                        <td> @item.IdUsuario</td>
                        <td>
                            <a asp-action="Guardar" asp-controller="MantenedorPago" class="btn btn-primary btn-sm" asp-route-IdReserva="@item.IdReserva">Pagar</a>
                            <a asp-action="Editar" asp-controller="MantenedorReserva" class="btn btn-primary btn-sm" asp-route-IdReserva="@item.IdReserva">Editar Reserva</a>
                            <a asp-action="Eliminar" asp-controller="MantenedorReserva" class="btn btn-danger btn-sm" asp-route-IdReserva="@item.IdReserva">Eliminar Reserva</a>
                            
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>



