@model TPCampo.Models.ModeloReservasVehiculos //Clase a utilizar en el formulario

@{
    ViewData["Title"] = "Listar Reserva";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<div class="card border-3 rounded-3">
    <div class="card-header">
        Lista de Reservas
    </div>

    <div class="card-body">
        <hr />
        <div class="row">
                @foreach (var item in Model.reservaModel)
                {
                @if (@item.IdUsuario == GlobalUser.IdUsuario) { 
                    <div class="col-6">
                        <div class="row">
                            <div class="card col-6 card border-3 rounded-3 mb-3 ms-3">
                            <img class="card-img-top mt-2" src="@Model.vehiculosModel.Find(vehiculo => vehiculo.IdVehiculo == @item.IdVehiculo).Imagen">
                                <div class="card-body">
                                    <ul>
                                        <li>Destino: @item.Destino</li>
                                        <li>FechaInicio: @item.FechaInicio</li>
                                        <li>FechaFin: @item.FechaFin</li>
                                        <li>Estado: @item.Estado</li>
                                        <li>MontoTotal: @item.MontoTotal</li>
                                        <li>IdVehiculo: @item.IdVehiculo</li>
                                        <li>IdUsuario: @item.IdUsuario</li>
                                        <li>
                                            @if (@item.Estado == "PENDIENTE")
                                            {
                                                <a asp-action="Guardar" asp-controller="MantenedorPago" class="btn btn-primary btn-sm" asp-route-IdReserva="@item.IdReserva" asp-route-MontoTotal="@item.MontoTotal" asp-route-Estado="@item.Estado">Pagar</a>
                                            }
                                            <a asp-action="Editar" asp-controller="MantenedorReserva" asp-route-IdReserva="item.IdReserva" class="edit-btn"><img src="~/edit-icon.png" class="edit-icon" title="editar"></a>

                                            <a asp-action="Eliminar" asp-controller="MantenedorReserva" asp-route-IdReserva="@item.IdReserva" class="del-btn mb-1" title="eliminar">
                        <svg viewBox="0 0 15 17.5" height="17.5" width="15" xmlns="http://www.w3.org/2000/svg"
                            class="icon">
                            <path transform="translate(-2.5 -1.25)"
                                d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z"
                                id="Fill"></path>
                        </svg>
                    </a>
                                        </li>               
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                }
        </div>
    </div>
</div>



